/* .edit-delete{
    display: inline-block;
} */
.skin-blue .main-header .navbar{
    background-color:#4fc1e9;
}
.skin-blue .main-header .logo{
    background-color:#46a5c7;
}
.line{
    /* float: left; */
    width: 100px;
    height: 3px;
    background-color:#038e3f;
    margin-bottom:20px;
}